*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(145deg, #d3cfcf, #faf6f6);

}

li {
  list-style-type: none;
}

.mood_box {
  border-radius: 21px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin: auto;
  padding: 25px;
}

.box {
  border-radius: 50%;
  width: 70px;
  height: 70px;
  color: #090909;
  padding: 0.2em 0.8em;
  font-size: 18px;
  background: #e8e8e8;
  cursor: pointer;
  border: 1px solid #e8e8e8;
  transition: all 0.3s;
  box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
}

.mood_img {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.mood-icon {
  padding: 0 0.2em;
  font-size: 30px;
  border-radius: 50%;
  background: #ebe3e3;
  cursor: pointer;
  border: 1px solid #e8e8e8;
  transition: all 0.3s;
  box-shadow: 6px 6px 12px #000000a6, -6px -6px 12px #ffffff;
}

.mood-icon>img {
  width: 50px;
  height: 50px;
  margin-top: 6px;
}
.mood-icon:active {
  color: #666;
  box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
}



.history-btn {
  margin-top: 20px;
}